# Setze Standard-Verhalten auf text=auto (Git entscheidet, ob Text oder Binär)
* text=auto

# Erzwinge LF für alle Textdateien in Git
* text eol=lf

# Spezifische Windows-Dateien müssen CRLF behalten
*.bat eol=crlf
*.cmd eol=crlf
gradlew.bat eol=crlf

# Binärdateien nicht anfassen
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
trace.info text merge=mps
generated text merge=mps
dependencies text merge=mps
*.mpl text merge=mps
*.msd text merge=mps
*.devkit text merge=mps
*.mpr text merge=mps
*.mpsr text merge=mps
*.model text merge=mps
*.mps text merge=mps
